
@font-face {
	font-family: 'Geometria-Heavy';
	src: url('../fonts/Geometria-Heavy.eot');
	src: local('Geometria Heavy'), local('Geometria-Heavy'),
		url('../fonts/Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Heavy.woff') format('woff'),
		url('../fonts/Geometria-Heavy.ttf') format('truetype');
	font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Geometria-Medium';
	src: url('../fonts/Geometria-Medium.eot');
	src: local('Geometria Medium'), local('Geometria-Medium'),
		url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Medium.woff') format('woff'),
		url('../fonts/Geometria-Medium.ttf') format('truetype');
	font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-LightItalic.eot');
	src: local('Geometria LightItalic'), local('Geometria-LightItalic'),
		url('../fonts/Geometria-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-LightItalic.woff') format('woff'),
		url('../fonts/Geometria-LightItalic.ttf') format('truetype');
	font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria.eot');
	src: local('Geometria'),
		url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria.woff') format('woff'),
		url('../fonts/Geometria.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Bold.eot');
	src: local('Geometria Bold'), local('Geometria-Bold'),
		url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Bold.woff') format('woff'),
		url('../fonts/Geometria-Bold.ttf') format('truetype');
	font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-ExtraBold.eot');
	src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
		url('../fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-ExtraBold.woff') format('woff'),
		url('../fonts/Geometria-ExtraBold.ttf') format('truetype');
	font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Quantify-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Quantify-Bold.woff2') format('woff2'), url('../fonts/Quantify-Bold.woff') format('woff');
}
@font-face{
    font-family: 'FuturisC-Bold';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/FuturisC-Bold.woff2') format('woff2'), url('../fonts/FuturisC-Bold.woff') format('woff');
}