
@media (max-width: 1690px){
    .main__form-advanced.show {
        top: 22vw;
    }
}
@media (max-width: 1600px){
    .main__form-advanced.show {
        top: 22.3vw;
    }
    // .navigation__links-inner {
    //     width: 2.3vw;
    //     height: 2.3vw;
    // }
   
}
@media (max-width: 1585px){
    // .navigation__links-inner {
    //     width: 2.5vw;
    //     height: 2.5vw;
    // }
}
@media (max-width: 1550px){
    .selection-btn__wrapper{
        margin-top: 1.9vw;
        &::before {
            right: 0.6vw;
        }
    }
    .selection-btn{
        width: 94%;
        line-height: 1vw;
    }
    .jq-selectbox__select {
        padding: 0.3vw;
    }
   
}
@media (max-width: 1500px){
    // .navigation__links-inner {
    //     width: 2.1vw;
    //     height: 2.1vw;
    // }
}
@media (max-width: 1440px){
    body{
        overflow-x: auto;
        overflow-y: hidden;
    }
    .nav-card-title {
        font-size: 10px;
    }
    .main__form-advanced.show {
        top: 22.8vw;
    }
    .main__items {
        width: 66vw;
    }
    .main__item {
        width: 21.5vw;
        height: 13.2vw;
        img{
            width: 21.5vw;
            height: 13.2vw;
        }
    }
    .main__item-slider{
        width: 21.5vw;
        height: 13.2vw;
    } 
    .advatages__item{
        width: 65vw;
    }
    .advatages__inner {
        padding-left: 1vw;
    }
    .advatages-slider{
        width: 65vw;
    }
    .advatages__inner-list{
        padding-right: 20px;
        padding-left: 15px;
    }
    .advatages__img-box{
        width: 17vw;
    }
    .advatages-slider .slick-dots {
        top: 3.1vw;
    }
    .advatages-slider,
    .advatages-slider-adaptive{
        &.show{
            height: 17.6vw;
        }
    }
    .advatages__inner-title {
        padding-top: 16px;
    }
    .advatages__number{
        margin-top: 10px;
    }
    .product-status__map {
        width: 41px;
    }
    .product-status__column:nth-child(2) {
        margin-right: 20px;
        margin-left: 17px;
    }
    .product__information-about {
        font-size: 10px;
        line-height: 12px;
        color: #fff;
        height: 90px;
    }
    .product-status__inner{
        justify-content: space-between;
    }
    .product-status, .product-instatus{
        margin: 16px 0;
    }
    .product-status, .product-instatus{
        font-size: 9px;
        line-height: 10px;
    }
    .product__characteristic-wrapper{
        width: 90%;
    }
    .product__equipment-drive{
        margin-left: 0;
    }
    .logo-finance{
        width: 10%;
    }
    .finance__tabs .tabs {
        width: 30.6vw;
    }
    .finance-calculator__tab{
        .tabs {
            width: 14.6vw;
        }
    }
    .calculator-tab {
        padding: 0.33vw 1vw;
    }
    .finance-calculator-column input {
        padding: 0.2vw 0.5vw;
    }
    .similar__items{
        .main__item-slider {
            width: 21vw;
            height: 15vw;
        }
        .main__item {
            width: 21vw;
            height: 15vw;
            img{
                width: 21vw;
                height: 15vw;
            }
        }
        .main__item-box{
            svg{
                width: 20px;
            }
        }
        .main__item-about__info img {
            width: 1.3vw;
            height: auto;
        }
    }
    .main__item-inner {
        width: 19vw;
        height: 12vw;
        left: 1vw;
        top: 0.6vw;
    }
    .js-tab-trigger {
        padding-right: 23px;
        padding-bottom: 15px;
    }
    .bottom-nav{
        img{
            width: 1.5vw;
            position: absolute;
            right: 0;
        }
    }
    .search-icon {
        left: 9px;
        top: 3px;
    }
    .search-text{
        top: 11px;
    }
    .header__logo {
        padding-top: 0.8vw;
    }
    .navigation__links-border{
        width: 3.13vw;
        height: 3.13vw;
    }
    .navigation__links-inner {
        width: 2vw;
        height: 2vw;
    }
    .navigation__links {
        width: 2.44vw;
        height: 2.44vw;
    }
    .navigation__bottom-inner{
        height: 10.3vw;
    }
}

@media (max-width: 1300px){
    body{
        overflow: auto;
    }
    .header__info{
       justify-content: space-between;
    }
    
    .header__info-phone:nth-last-child(2){
        margin-right: 0;
        margin-left: 12px;
    }
    .main__search {
        width: 24.6vw;
    }
    .main__form-advanced.show {
        top: 21.7vw;
    }
    .nav-card {
        width: 13.7vw;
        padding: 1.3vw 0.78vw 0.78vw 0.78vw;
    }
    .nav-card-title{
        font-size: 0.8vw;
        &::before{
            top: 0.3vw;
        }
    }
    .nav-card__link {
        font-size: 0.6vw;
        line-height: 0.8vw;
        padding-left: 0;
        color: #fff;
    }
    .nav-card__open-title{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .nav-card:nth-child(odd) {
        margin-right: 0.5vw;
    }
    .jq-selectbox__select{
        height: 20px;
    }
    .jq-selectbox__trigger{
        top: -4px;
    }
    .main__search-form form select, .main__search-form form input[type=number] {
        padding: 0.2vw 1vw;
    }
    .jq-selectbox__dropdown{
        top: 18px;
    }
    .selection-btn__wrapper{
        margin-top: 23px;
        &::before{
            right: 0.4vw;
            left: -0.01vw;
        }
    }
    .selection-btn {
        line-height: 10px;
        margin-left: 1px;
    }
    .main__form-row {
       margin-right: 0;
    }
    .main{
        padding-left: 0.9vw;
    }
    .nav-card {
        width: 12vw;
    }
    .jq-checkbox, .jq-radio{
        width: 12px;
        height: 12px;
    }
    .jq-checkbox.checked .jq-checkbox__div {
        width: 7px;
        height: 5px;
        margin: 2px 0 0 2px;    
    }
    .advatages__img-title {
        font-size: 16px;
    }
    .advatages__inner-list {
        margin-top: 4px;
        padding-left: 16px;
        padding-top: 23px;
    }
}
@media (max-width: 1270px){

    .header__info{
        width: 60vw;
    }
    .search-icon{
        top: 6px;
    }
    .header__info-phone:nth-last-child(2) {
        margin-left: 30px;
    }
    .header__info-search {
        max-width: 435px;
        input{
            padding: 5px 52px 5px 38px;
        }
    }
    .search-icon {
        top: 5px;
        img{
            width: 15px;
        }
    }
    .search-text {
        top: 9px;
    }
    .header__info-phone{
        margin-left: 30px;
    }
    .product-status__column:nth-child(2) {
       margin-left: 15px;
       margin-right: 15px;
       .product-instatus{
        margin: 10px 0;
       }
    }
    .finance-tab__content {
        width: 26.5vw;
    }
    .finance-img img {
        width: 19vw;
    }
    .finance__tabs .tabs {
        width: 33.6vw;
    }
    .finance-calculator__tab{
        .tabs{
            width: 14.6vw;
        }
    }
    .finance-calculator__inner {
        padding: 1.3vw 1vw 1.8vw 1vw;
    }
    .finance-calculator-column input {
        padding: 2px;
        &::placeholder{
            font-size: 10px;
        }
    }
    .input {
        padding: 2px 2px 2px 10px;
    }
    .form-request__right {
        padding-top: 9px;
        margin-left: 10px;
        width: 10vw;
    }
    .jq-file__name{
        font-size: 10px;
        height: 26px;
    }
    .jq-file {
        width: 108px;
    }
    .finance-calculator__title {
        font-size: 10px;
        line-height: 20px;
        padding-left: 29px;
    }
    .reviews__items {
        width: 35vw;
        margin-left: 3.1vw;
    }
    .header__info-search input{
        width: 97%;
    }
    .search-text{
        top: 9px;
    }
}
@media (max-width: 1150px){
    .finance-tab__title {
        margin-top: 20px;
        margin-bottom: 14px;
    }
    .finance-tab__list {
        color: #F9BF26;
        font-size: 13px;
        line-height: 14px;
        margin-bottom: 6px;
    }
    .finance-tab__about {
        font-size: 11px;
        line-height: 12px;
    }
    .finance-tab__items {
        font-size: 10px;
        line-height: 11px;
        margin-bottom: 10px;
    }
    .finance-tab__items li {
        padding-left: 14px;
        margin-top: 10px;
    }
    .advatages__img-title {
        font-size: 13px;
    }
    .main__form-advanced.show {
        top: 22vw;
    }
    .reviews__item-icons button span{
        margin-left: 0;
    }
    // .advatages__number{
    //     margin-top: 0;
    // }
    .advatages__inner-title{
        font-size: 25px;
        line-height: 30px;
    }
}

@media (max-width: 1024px){
    body{
        font-size: 16px;
        line-height: 18px;
    }
    .nav-card__list li {
        width: 76%;
        margin-top: 15px;
        svg{
            width: 15px;
        }
    }
    .header .header-adaptive{
        display: flex;
        display: flex;
        width: 18%;
        justify-content: space-between;
        margin-left: 20px;
        .navigation__menu-favorites{
            margin-bottom: 0;
        }
        .navigation__user{
            width: 55px;
            height: 55px;
            margin: 0 20px;
        }
        .navigation__menu-comparison, .navigation__menu-favorites{
            width: 50px;
            img{
                width: 28px;
            }
        }
        .navigation__menu-favorites{
            margin-right: 10px;
        }
    }
    .header__info-search{
        display: none;
    }
    .advatages__img-box {
        width: 61%;
    }
    .advatages__inner{
        background-color: transparent;
    }
    .main__search-title{
        display: none;
    }
    .sup-title{
        padding-top: 40px;
        font-size: 24px;
        &::before{
            width: 40px;
        }
    }
    .bottom-nav{
       display: none;
    }
    .title{
        
        font-size: 24px;
        line-height: 28px;
        padding-left: 78px;
        &::before{
            width: 40px;
            top: 10px;
        }
    }
    .container{
        margin: 0;
        max-width: 100%;
    }
    .header{
        height: 60px;
        align-items: center;
    }
    .header__logo{
        padding-top: 0;
    }
    .main__head{
        background-color: #1E1E23;
        padding-top: 5px;
        width: 100%;
    }
    .header__info-phone {
        font-size: 12px;
        padding-left: 30px;
        &::before{
            width: 15px;
            top: 8px;
        }
    }
    .nav-card__link{
        font-size: 14px;
        line-height: 16px;
        padding-left: 20px;
    }
 
    .header__menu-inner{
        display: none;
    }
    .main__items-text {
        max-width: 273px;
    }
    .main__items {
        width: 100%;
    }
    .main__items-link{
        font-size: 0;
        padding-right: 0;
        margin-right: 0;
        right: 15px;
        &::before{
            width: 15px;
            height: 15px;
        }
    }

    .main__item {
        max-width: 100%;
        position: relative;
        width: 100%;
        max-height: 247px;
        height: 100%;
        margin-bottom: 10px;
        &:hover{
            
        }
        img{
            width: 403px;
            height: 247px;
        }
    }
    .main__item-slider {
        width: 600px;
        height: auto;
    }
    .main__item-name{
        font-size: 18px;
        line-height: 21px;
    }
    .main{
        padding-left: 0;
        padding-right: 0;
        .advatages-slider{
            &.show{
                display: none;
            }
        }
        .advatages-slider-adaptive{
            &.visible{
                display: block;
            }
        }
    }
  
    .main__items-title{
        padding-left: 20px;
        font-size: 32px;
        line-height: 39px;
    }
    .main__head.hide{
        font-size: 0;
        background-color: transparent;
        .main__items-title{
            display: none;
        }
    }
    .main__form-advanced.show{
        display: none;
    }
    .navigation__links-border{
        width: 60px;
        height: 60px;
    }
    .navigation__links {
        width: 50px;
        height: 50px;
    }
    .navigation__links-inner {
        width: 40px;
        height: 40px;
    }
    .navigation__links-inner img {
        width: 25px;
    }
    .slick-initialized .slick-slide{
        display: block
    }
    .advatages__inner-list{
        border: none;
    }
    .advatages__inner{
        display: block;
    }
    .navigation,
    .main__search-form{
        display: none;
    }
    .main__items{
       margin-top: 15px;
       padding-right: 36px;
       height: 100vh;
       .simplebar-track{
           right: 16px;
       }
    }
    .main__search{
        width: 100%;
    }
    .main__inner{
        display: block;
    }
    .nav-cards{
        flex-wrap: wrap;
        width: 100%;
        margin-left: 16px;
        max-width: 718px;
        margin: 0 auto;
    }
    .nav-card{
        width: 346px;
        height: 97px;
        padding: 30px 10px;
        &:hover{
            height: auto;
        }
    }
    .nav-card:hover::before {
        width: 30px;
    }
    .nav-card__list{
        margin-bottom: 13px;
    }
    .nav-card-title{
        padding-left: 29px;
        margin-left: 10px;
        font-size: 20px;
        line-height: 25px;
        &::before{
            width: 20px;
            top: 10px;
        }
    }
    .nav-card__calculator{
        display: inline-block;
    }
    .nav-card:nth-child(odd) {
        margin-right: 10px;
    }
    .navigation__menu-adaptive{
        display: flex;
        position: sticky;
        margin-top: 16px;
        justify-content: space-between;
        background-color: #323237;
        position: relative;
        width: 100%;
        height: 70px;
        .navigation__consultant,
        .navigation__links-border{
            margin: 0;
            margin-left: 20px;
        }
        .navigation__consultant{
            width: 55px;
            height: 55px;
        }
        .navigation__menu-img{
            display: flex;
            align-items: center;
        }
        .navigation-adaptive__arrows{
            transform: rotate(90deg);
            width: 15px;
            height: 15px;
            margin-left: 15px;
            transition: all .3s;
            path{
                fill: #F9BF26;
            }
        }
    }
    .navigation__menu-button{
        text-transform: uppercase;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 1px;
        color: #767676;
        background-color: #232328;
        width: 212px;
        height: 70px;   
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        .car-search__icon{
            width: 40px;
            height: 30px;
            padding-right: 15px;
        }
        &.active{
            height: 86px;
            position: absolute;
            left: 48%;
            top: -1px;
            .navigation-adaptive__arrows{
                transform: rotate(-90deg);
            }
        }
    }
    .main__search-form.adaptive{
        display: none;
    }
    .main__search-form.adaptive.active{
        display: block;
        margin: 10px 40px;
        background-color: #232328;
        form{
            justify-content: center;
            label{
                font-size: 14px;
                margin-bottom: 5px;
            }
            input,
            select{
                padding: 8px;
                margin-bottom: 5px;
            }
        }
    }
    .selection-btn {
        width: 100%;
        font-size: 11px;
        line-height: 20px;
        padding: 10px;
        margin-top: 29px;
    }
    .advanced-search,
    .advanced-hide{
        font-size: 14px;
        line-height: 17px;
        margin-top: 20px;
        padding-right: 25px;
        display: inline-block;
        &::before{
            width: 15px;
            height: 15px;
            display: block;
        }
    }
    .advanced-hide{
        display: none;
    }
    .advanced-search__btn{
        text-align: center;
    }
    .main__search-form.adaptive{
        .selection-btn__wrapper{
            margin-top: 0;
            &::before{
                top: 27px;
                bottom: -4px;
                right: -3px;
                left: -2px;
            }
        }
    }   
    .main__form-instock{
        margin-top: 10px;
        display: flex;
        align-items: center;
        width: 47%;
    }   
    .adaptive{
        display: block;
    }
    .main__item{
        display: flex;
    }
    .main__item-box{
        position: inherit;
        display: initial;
        padding: 16px 0 0px;
    }
    .main__item:hover  {
        .main__item-box{
            position: inherit;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            display: block;
            padding: 10px 0;
        }
        .main__item-name {
            font-size: 18px;
            line-height: 21px;
        }
        .main__item-status {
            font-size: 14px;
            line-height: 20px;
            margin-top: 0px;
        }
        .main__item-price {
            position: absolute;
            right: 6px;
            top: 20px;
            font-size: 20px;
            line-height: 24px;
            background-color: #F9BF26;
            padding: 9px 16px;
        }
        .main__item-date.adaptive {
            margin: 11px 0 14px 20px;
        }
        .main__item-inner__box{
            svg  {
                width: 20px;
                height: 20px;
            }
            button {
                width: 20px;
                height: 20px;
                background-color: transparent;
                border: none;
                position: absolute;
                right: 22px;
                top: 15px;
                margin: 0;
            }
        }
        .main__item-about.adaptive {
            border-top: 1px solid #1E1E23;
            border-bottom: 1px solid #1E1E23;
        }
        .main__item-repairs.adaptive:nth-last-child(1) span {
            display: block;
        }
        .main__item-repairs.adaptive {
            padding-left: 20px;
            font-size: 14px;
            line-height: 17px;
            margin-top: 5px;
        }
        .main__item-link.adaptive {
            font-size: 14px;
            line-height: 25px;
            color: #fff;
            padding-right: 28px;
            margin-right: 20px;
            position: absolute;
            right: 0;
            bottom: 0;
        }
       
    }
    .main__item-name{
        margin-bottom: 10px;
    }
    .main__item{
        width: 100%;
        position: relative;
    }
  .main__item-information{
      padding-left: 20px;
    }
    .main__item-status,
    .main__item-date{
        font-size: 14px;
        line-height: 20px;
    }
    .main__item-date,
    .main__item-price{
        font-family: 'Geometria';
        font-weight: bold;
    }
    .main__item-date{
        margin: 11px 0 14px 20px;
    }
    .main__item-price{
        position: absolute;
        right: 6px;
        top: 20px;
        font-size: 20px;
        line-height: 24px;
        background-color: #F9BF26;
        padding: 9px 16px;
    }
    .main__item-box{
        width: 100%;
        height: 246px;
        background-color: #323237;
    }
    .btn-view{
        margin-right: 20px;
    }
    .main__item-about {
        display: flex;
        justify-content: space-around;
        font-size: 12px;
        line-height: 14px;
        border-top: 1px solid #1E1E23;
        border-bottom: 1px solid #1E1E23;
    }
    .main__item-about__info{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        &:nth-child(2){
            border-right: 1px solid #1E1E23;
            border-left: 1px solid #1E1E23;
        }
        img{
            width: 20px;
            margin-right: 8px;
        }
    }
    .main__item-repairs{
        padding-left: 20px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 5px;
    }
    .main__item-link{
        font-size: 14px;
        line-height: 25px;
        color: #fff;
        padding-right: 28px;
        margin-right: 20px;
        position: absolute;
        right: 0;
        bottom: 0;
        &::before{
            content: "";
            background-image: url(../images/arrows-right.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            width: 13px;
            height: 7px;
            right: 0;
            top: 8px;
        }
    }
    .main__form-column{
        width: 320px;
        &:nth-child(2){
            margin-left: 30px;
        }
    }
    .main__search-form form input{
        width: 150px;
        &:nth-child(2){
            margin-right: 15px;
        }
    }
    .main__item-inner__box{
        position: relative;
        display: block;
        button{
            width: 20px;
            height: 20px;
            background-color: transparent;
            border: none;
            position: absolute;
            right: 22px;
            top: 0px;
            margin: 0;
        }
        svg,
        img{
            width: 20px;
            height: 20px;
        }
    }
    .advatages-slider-adaptive {
        width: 100%;
        .advatages__item {
            width: 100vw;
            height: auto;
        }
        .advatages__img{
            width: 100vw;
            height: 32.8vw;
            padding-top: 33px;
            padding-left: 50px;
        }
        .advatages__img-title {
            font-size: 33px;
            line-height: 40px;
        }
        .advatages__img-box {
            padding-right: 104px;
        }
        .advatages__img-logo {
            width: 353px;
        }
        .advatages__img-box::before {
            width: 80px;
            height: 80px;
        }
        .slick-dots {
            position: absolute;
            top: 60px;
            right: 20px;
            li.slick-active button {
                color: #FABE28;
                font-size: 26px;
                line-height: 30px;
            }
            li.slick-active::before {
                content: "";
                position: absolute;
                left: 0;
                top: 14px;
                width: 45px;
                height: 2px;
                background-color: #FABE28;
            }
            li {
                margin-bottom: 30px;
                padding-left: 60px;
                button {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        } 
    }
    .main__items-text {
        max-width: 523px;
        padding-left: 20px;
    }
    .advatages__inner{
        padding-left: 5px;
        padding-top: 30px;
    }  
    .advatages__inner-title {
        margin-bottom: 25px;
    }
    .advatages__inner-list {
        margin-bottom: 90px;
        padding-left: 40px;
    }
    .advatages__inner-list li {
        font-size: 16px;
        line-height: 23px;
        padding-left: 40px;
        &::before{
            top: 11px;
            width: 18px;
        }
    }
    .advatages__number{
        font-size: 210px;
        line-height: 250px;
        
    }
    .advatages__inner-title {
        font-size: 48px;
        line-height: 53px;
    }
    .advatages-slider-adaptive .advatages__img {
        height: 260px;
        padding-top: 30px;
        padding-left: 19px;
    }
    .advatages-slider-adaptive .advatages__inner-list {
        padding-right: 62px;
    }
    .advatages-slider-adaptive .slick-dots {
        li{
            margin-bottom: 22px;
            padding-left: 66px;
        }
    }
    .jq-selectbox__trigger {
        top: 7px;
    }
    .jq-selectbox__select {
        height: 40px;
        padding: 15px;
        width: 42vw; 
    }
    .jq-selectbox__dropdown{
        top: 39px;
    }
    .main__search-form.adaptive.active{
        form{
            input{
                width: 44%;
                padding: 11px;
            }
        }
    }
    .slick-arrow{
        background-color: transparent;
        width: 25px;
        height: 25px;
        border: none;
        position: absolute;
        top: 40%;
        &::before{
            content: "";
            background-image: url(../images/slider-arrows.svg);
            width: 25px;
            height: 25px;
            background-size: cover;
            position: absolute;
        }
    }
    .slick-next{
        &::before{
            transform: rotate(180deg)
        }
    }
    .slick-prev{
        right: 20px;
        z-index: 10;
    }
    .product__characteristic-info__title {
        font-size: 18px;
        padding-top: 23px;
        margin-bottom: 12px;
    }
    .product__characteristic-info {
        padding-top: 1.1vw;
        margin-left: 2vw;
    }
    .product__equipment-title{
        font-size: 20px;
        padding-left: 59px;
    }
    .product__equipment-inner{
        flex-wrap: wrap;
    }
    .product__equipment-drive__link {
        padding: 10px;
        width: 217px;
    }
    .product__equipment-drive {
        text-transform: uppercase;
        text-align: left;
        margin-left: 0; 
        width: 100%;
        margin-top: 20px;
    }
    .product__equipment-row label {
        text-transform: uppercase;
        font-size: 7px;
        line-height: 12px;
        color: #767676;
        margin-top: 10px;
    }
    .product__equipment-checkbox{
        width: 100%;
    }
    .jq-checkbox, .jq-radio {
        width: 13px;
        height: 13px;
    }
    .jq-checkbox.checked .jq-checkbox__div {
        width: 8px;
        height: 6px;
        margin: 1px 0 0 1px;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
    }
    .tab-item__slider .slick-dots li.slick-active::before {
        width: 16px;
    }
    .tab-item__slider .slick-dots li {
        margin-bottom: 5px;
        position: relative;
        padding-left: 20px;
    }
    .product__price {
        padding: 4px 10px;
        color: #fff;
        background-color: #FABE28;
        font-size: 19px;
        line-height: 24px;
    }
    .product__information-price {
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    .product__price-credit {
        font-size: 10px;
        line-height: 13px;
        color: #767676;
        width: 130px;
        span{
            font-size: 12px;
        }
    }
    .product-status__map {
        width: 37px;
        img{
            width: 25px;
        }
        span{
            font-size: 7px;
            line-height: 9px;
            margin-top: 0;
        }
    }
    .logo-characteristic {
        width: 19%;
        margin-left: 10px;
    }
    .finance__head{
        .sup-title {
            padding-top: 18px;
            font-size: 18px;
        }
    }
    .finance__tabs .tabs {
        width: 346px;
    }
    .finance{
        height: auto;
        .title {
            font-size: 12px;
            line-height: 20px;
            padding-left: 37px;
        }
        .title::before {
            width: 28px;
            top: 4px;
        }
    }
    .finance-tab__text {
        font-size: 9px;
        line-height: 12px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .finance-tab__calculator{
        width: 24vw;
        .tabs {
            width: 160px;
        }
    }
    .finance-calculator__tab {
        width: 22vw;
        padding: 7px;
    }
    .finance-calculator-row {
        font-size: 9px;
        text-transform: uppercase;
        margin-top: 8px;
    }
    .calculator-tab {
        padding: 6px 6px;
    }
    .finance-tab__calculator .tabs {
        height: 24px;
    }
    .main__item img {
        width: 373px;
        height: auto;
    }
    .main__item button img{
        width: 20px;
        height: 20px;
    }
    .main__item .main__item-about__info img{
        width: 20px;
    }
    .advatages__inner-list{
        height: auto;
    }
    .advatages__inner-list{
        margin-bottom: 20px;
    }
    .advanced-hide{
        &.show{
            display: inline-block;
            padding-right: 25px;
            &::before{
                display: block;
            }
        }
      
    }
    .advanced-search.rotate{
        display: none;
    }
    .main__item.main__item-link{
        display: none;
    }
    .similar__items .main__item{
        width: 100%;
        height: 22vw;
    }
    .similar__items .main__item-slider {
        width: 30vw;
        height: 22vw;
    }
    .similar__items{
        .btn-view{
            img{
                width: 20px;
                height: 20px;
            }
        }
        .main__item-link.adaptive{
            display: block;
        }
    }
    .form-request__data{
        font-size: 9px;
        margin-top: 8px;
        margin-bottom: 5px;
    }
    .form-request__right {
        padding-top: 9px;
        margin-left: 10px;
        width: 13vw;
    }
    .calculator__amoun-text {
        font-size: 9px;
        line-height: 12px;
    }
    .form-request{
        button{
            font-size: 10px;
            line-height: 12px;
            padding: 10px 4px;
            margin-top: 10px;
            width: 116px;
        }
    }
    .header__info {
        width: 50%;
    }
    .reviews{
        height: auto;
    }
    .reviews__content-inner {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 8px;
        flex-wrap: wrap;
    }
    .reviews__comment-title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 17px;
        width: 100%;
    }
    .reviews__comment-form{
        width: 100%;
        padding: 20px 25px 30px;
        margin-bottom: 15px;
    }
    .reviews__comment-text{
        font-size: 12px;
        margin-bottom: 8px;
    }
    .reviews__item-inner, .reviews__item-text{
        font-size: 10px;
        line-height: 15px;
    }
    .reviews__item-more{
        font-size: 10px;
    }
    .reviews__items{
        width: 100%;
        margin-left: 30px;
    }
    .reviews__comment{
        width: 100%;
    }
    .reviews__comment-form form button{
        font-size: 10px;
        
    }
    .reviews__comment-form form .reviews__comment-btn{
        padding: 10px 20px;
    }
    .reviews__comment-form form input, .reviews__comment-form form textarea{
        padding: 10px;
    }
    .reviews__comment-form form textarea{
        height: 120px;
    }
    .similar .wrapper {
        width: 93%;
    }
    .similar__head-text {
        width: 30%;
        font-size: 10px;
        line-height: 12px;
    }
    .similar__head-link{
        font-size: 15px;
        line-height: 20px;
        padding: 10px 15px;
    }
    .similar__head{
        flex-wrap: wrap;
    }
    .similar__head-text{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}   
@media (max-width: 1023px){
    .finance{
        .logo-finance{
            display: none;
        }
    }
    .logo-characteristic{
        display: none;
    }
    .product__inner {
        width: 50%;
        display: block;
        margin-right: 31px;
    }
    .product__characteristic{
        width: 100%;
    }
    .product__characteristic-inner{
        flex-wrap: wrap;
        width: 100%;
    }
    .product__tabs{
        width: 100%;
    }
    .tab_content{
        width: 100%;
    }
    .product__characteristic-info{
        width: 62%;
        margin-left: 0;
    }
    .product__characteristic-wrapper{
        width: 86%;
        margin: 0 auto;
    }
    .logo-characteristic {
        width: 12%;
        margin-left: 10px;
    }
    .product__characteristic-inner .tabs {
        width: 320px;
        margin-bottom: 10px;
        padding-bottom: 3px;
    }
    .product__characteristic-inner .tab{
        font-size: 10px;
        line-height: 12px;
        padding: 5px 10px;
    }
    .tab__slider {
        width: 100%;
        height: auto;
        margin-bottom: 1px;
        img{
            max-width: 554px;
            width: 100%;
            height: 370px;
        }
    }
    
    .tab__slider-nav {
        width: 100%;
        margin-top: 10px;
    }
    .tab__slider-nav img {
        height: auto;
    }
    .finance-tab__wrapper{
        flex-wrap: wrap;
    }
    .finance-tab__content {
        width: 100%;
    }
    .finance-tab__calculator{
        width: 300px;
    }
    .finance-calculator__tab{
        width: 240px;
    }
    .form-request__consent {
        margin-top: 10px;
        font-size: 8px;
        line-height: 10px;
    }
    .calculator__amoun-inner{
        width: 87%;
        margin: 10px auto;
    }
    .form-request{
        width: 87%;
        margin: 0 auto;
    }.finance-calculator-column input {
        width: 65px;
    }
    .form-request{
        button{
            margin-top: 6px;
        }
    }
    .finance-tab__calculator .tabs {
        width: 215px;
        height: 30px;
    }
    .calculator-tab {
        width: 72px;
        text-align: center;
        font-size: 8px;
        line-height: 10px;
        padding: 4px 10px;
    }
    .calculator-tab.active{
        padding: 4px 10px 5px;
    }
    .finance{
        padding-bottom: 20px;
    }
   
}
@media (max-width: 1000px){
    .main__items-text {
        max-width: 309px;
    }
    .main__items-title {
        font-size: 26px;
        line-height: 36px;
    }
    .product__characteristic-info__row.about {
        width: 120px;
        color: #767676;
        font-size: 9px;
        line-height: 12px;
        text-transform: uppercase;
    }
    .product__characteristic {
        width: 100%;
    }
    .product__characteristic-info__row.description {
        width: 112px;
        font-size: 9px;
        line-height: 12px;
    }
    .product__characteristic-info__btn {
        margin-top: 13px;
        margin-bottom: 10px;
        font-size: 9px;
        line-height: 16px;
        width: 100px;
        padding: 5px;  
        display: block;
    }
    .btn-favorites svg, .btn-comparison svg {
        width: 22px;
    }
    .btn-favorites span, .btn-comparison span {
        font-size: 9px;
        margin-top: 6px;
        display: block;
        width: 57px;
    }
    .btn-favorites {
        margin: 0;
        margin-right: 8px;
    }
    .product__equipment-title {
        margin-bottom: 11px;
    }
    .vin-search {
        width: 9px;
        height: 9px;
    }
    .finance-tab__wrapper{
        flex-wrap: wrap;
    }
    .finance-tab__content {
        width: 100%;
    }
    .finance__inner{
        padding: 15px;
        margin-top: 94px;
    }
    .finance__head{
        flex-wrap: wrap;
    }
    .finance-img img {
        width: 60%;
    }
    .finance-calculator__title {
        margin-bottom: 10px;
    }
    .calculator__amoun-inner {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .calculator__amoun {
        color: #FABE28;
        font-size: 10px;
        line-height: 14px;
    }
    // .finance-tab__calculator{
    //     width: 26vw;
    // }
    .form-request{
        width: 90%;
        margin: 0 auto;
    }
    .calculator__amoun-inner {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .calculator__amoun{
        margin-left: 0;
    }
    // .container{
    //     max-width: 97%;
    // }
}
@media (max-width: 910px){
    .advatages__img-box {
        width: 67%;
    }
    .product__price-credit{
        margin-top: 10px;
    }
     .product__wrapper{
        flex-wrap: wrap;
    }
    .product__inner{
        width: 100%;
    }
    .product__information-name {
        font-size: 30px;
        line-height: 35px;
        color: #fff;
        margin-bottom: 15px;
        text-align: center;
    }
    .product__information-price{
        justify-content: center;
    }
    .product__price{
        margin-right: 20px;
    }
    .product__information-border {
        padding: 0 17px 10px;
        width: 50%;
        margin: 0 auto;
    }
    .product {
        padding-left: 0; 
        padding-right: 0; 
        width: 100%;
    }
    .product__main {
        width: 97%;
        height: auto;
    }
    .product__characteristic-inner {
        width: 100%;
        padding: 2vw 0.5vw 1vw 3vw;
    }
    .logo-characteristic {
        width: 10%;
    }
    .product__equipment {
        padding: 20px;
        margin: 0 0 0 200px;
    }
    .product__characteristic-info__title {
        font-size: 24px;
        padding-top: 18px;
        margin-bottom: 12px;
        &::before {
            width: 31px;
        }
    }
    .product__equipment-title {
        font-size: 17px;
        padding-left: 40px;
        &::before{
            width: 30px;
        }
    }
    .product__equipment {
        padding: 2vw;
        margin: 0 0 0 22vw;
    }
    .product__characteristic-inner .tab {
        font-size: 9px;
        line-height: 10px;
        color: #767676;
        text-transform: uppercase;
        padding: 5px 7px;
    }
    .product__characteristic-info {
        width: 48%;
        margin-left: 0;
    }
    .product__characteristic-info__btn{
        display: inline-block;
    }
    .product__equipment {
        padding: 10px;
        margin: 0;
    }
    .product__characteristic {
        width: 100%;
    }
    .main__item img {
        width: 370px;
        height: auto;
    }
    .wrapper{
        width: 100%;
        padding-left: 28px;
        padding-right: 20px;
    }
    .logo-finance {
        width: 15%;
    }
    .reviews__content{
        width: 100%;
    }
    .reviews__item.answer::before {
        width: 21px;
        height: 65px;
        left: -8px;
        top: -55px;
    }
    .tab__slider img {
        max-width: 698px;
        width: 100%;
        height: 455px;
    }
    .product__characteristic-info__row.about,
    .product__characteristic-info__row.description {
        font-size: 10px;
        line-height: 13px;
        width: 125px;
    }
    // .similar .main__item-slider img {
    //     width: 343px;
    // }
    // .main__item-slider{
    //     max-width: 342px;
    // }
}
@media (max-width: 880px){
    .header__info{
        display: none;
    }
    .advatages-slider-adaptive {
        .slick-dots {
            position: absolute;
            top: 20px;
            right: 15px;
        }
        .advatages__img-box {
            padding-right: 69px;
            &::before{
                width: 60px;
                height: 60px;
                top: 9px;
            }
        }
        .advatages__img-logo {
            width: 329px;
        }
    }
    .main__item-slider {
        width: 702px;
        height: auto;
    }
}
@media (max-width: 768px){
    .main__search-form.adaptive .selection-btn__wrapper::before{
        right: 4.2vw;
    }
    .advatages__img-box {
        width: 72%;
    }
    .header__info{
        display: none;
    }
    .header .header-adaptive {
        width: 27%;
    }
    .main__head{
        display: block;
        position: relative;
    }
    .main__items-link{
        position: absolute;
        top: 17px;
    }
    .main__head.hide{
        .main__items-text{
            font-size: 0;
        }
        
    }
    .main__search-form.adaptive.active{
        display: block;
        margin: 9px 40px;
        background-color: #232328;
        padding: 16px;
    }
    .jq-selectbox__select {
        height: 40px;
        padding: 8px;
        width: 38vw;
    }
    .main__search-form.adaptive.active form input {
        width: 41%;
        padding: 11px;
    }
    .selection-btn {
        width: 89%;
    }
    .logo-characteristic {
        width: 7%;
    }
    .tab__slider-nav img {
        height: auto;
    }
    .product__equipment-drive__title {
        font-size: 16px;
        line-height: 20px;
        color: #FABE28;
        margin-bottom: 4px;
    }
    .main__items-link.rotate{
        top: 0;
    }
    .main__items-link {
        top: 15px;
    }
    .finance-calculator__box{
        justify-content: space-between;
    }
    .form-request__right,
    .form-request__left{
        width: 50%;
    }
    .calculator__amoun-inner{
        justify-content: flex-start;
    }
    .calculator__amoun-text {
        margin-right: 5vw;
    }
    .form-request__left{
        width: 89%;
    }
}
@media (max-width: 767px){
    .nav-cards{
        justify-content: center;
    }
    .nav-card{
        width: 407px;
        &:nth-child(odd){
            margin-right: 0;
        }
    }
    .main__item{
        display: block;
        max-height: 100%;
        img{
            width: 95.2vw;
            height: auto;
        }
        .main__item-about__info{
            img{
                width: 20px;
            }
        }
        &:hover{
            .main__item-price {
                right: 0;
                top: -53px;
                background-color: #F9BF26;
                padding: 14px 16px;
            }
            .main__item-date {
                margin: 0px 0 14px 20px;
            }
            .main__item-inner__box  {
                button{
                    width: 20px;
                    height: 20px;
                    background-color: transparent;
                    border: none;
                    position: absolute;
                    right: 22px;
                    top: 10px;
                    margin: 0;
                }
                svg{
                    width: 22px;
                }
               
            }
        }
    }
    .main__item-slider{
        width: 100%;
    }

    .main__item-information{
        position: absolute;
        top: -53px;
        right: 0;
        left: 0;
        background-color: rgba(50,50,55,0.6);
        padding: 7px 20px;
        width: 89.3vw;
    }
    .main__item-price{
        right: 0;
        top: -53px;
        background-color: #F9BF26;
        padding: 14px 16px;
    }
    .main__item-inner__box{
        button{
            img{
                width: 20px;
            }
        }
    }
    .main__item-box{
        display: block;
        border-top: 1px solid #1E1E23;
        height: auto;
    }
    .main__item-date {
        margin: 0px 0 14px 20px;
        button{
            img{
                height: 20px;
            }
        }
    }
    .main__item-repairs__content{
        margin-top: 11px;
    }
    .main__item-name{
        margin-bottom: 0;
    }
    .main__item-box {
        padding: 14px 0;
    }
    .nav-card-title {
        font-size: 16px;
        line-height: 20px;
    }
    .main__items-title{
        font-size: 28px;
        line-height: 33px;
    }
    .main__items-text{
        font-size: 13px;
        line-height: 20px;
    }
    .nav-card {
        padding: 17px 15px;
        margin-top: 10px;
    }
    .advatages__img-box {
        width: 84%;
    }
   
}
@media (max-width: 660px){
    .product__characteristic-info{
        width: 100%;
    }
    .product__characteristic-info__btn{
        margin-right: 40px;
    }
    .tab__slider img {
        height: 350px;
    }
    .main__search-form.adaptive .selection-btn__wrapper::before {
        right: 4vw;
    }
}
@media (max-width: 560px){
    .header .header-adaptive {
        width: 33%;
    }
    .advatages-slider-adaptive {
        .advatages__img-logo {
            width: 235px;
        }
        .advatages__img-title {
            font-size: 22px;
            line-height: 30px;
        }
        .advatages__img-box {
            padding-right: 46px;
        }
        .advatages__img-box::before {
            width: 35px;
            height: 35px;
            top: 9px;
        }
        .slick-dots {
            position: absolute;
            top: 87px;
            right: 8px;
            li{
                margin-bottom: 17px;
            }
        }
        .advatages__inner-list {
            padding-right: 14px;
            li{
                font-size: 13px;
                line-height: 23px;
            }
        }
        .advatages__inner-title {
            font-size: 40px;
            line-height: 44px;
        }
    }
    .main__search-form.adaptive.active {
        margin: 9px 17px;
    }
    .main__form-row {
        width: 100%;
    }
    .jq-selectbox__select {
        height: 40px;
        padding: 8px;
        width: 86vw;
    }
    .main__search-form.adaptive.active form input {
        width: 47%;
    }
    .main__form-instock {
        width: 50%;
        height: 24px;
        margin-top: 38px;
        display: flex;
        justify-content: center;

    }
    #checkbox-instock{
        margin-bottom: 0;
    }
    .main__form-selection__btn{
        width: 50%;
        button{
            width: 100%;
        }
    }

    .advanced-search__btn {
        text-align: center;
    }
    .product__information-border {
        padding: 0 17px 10px;
        width: 80%;
        margin: 0 auto;
    }
    .product__information-name {
        font-size: 20px;
        line-height: 25px;
    }
    .product__price-credit{
        margin-top: 0;
    }
    .reviews__item.answer::before {
        left: -15px;
    }
    .product__inner{
        margin: 0 auto 10px;
    }
    .main__search-form.adaptive .selection-btn__wrapper::before {
        right: -4px;
    }
}
@media (max-width: 468px){
    
    .btn-favorites{
        margin-left: 0;
    }
    .product__characteristic-wrapper {
        width: 100%;
        margin: 0;
    }
    .product__characteristic-info{
        margin: 0;
    }
    .product__characteristic-info__btn{
        margin: 10px 0;
    }
    .product__tabs{
        margin: 0;
    }
    .logo-characteristic{
        display: none;
    }
    .product__equipment-row {
        width: 50%;
        margin: 0 0 0.57vw;
    }
    .main__item-link.adaptive{
        position: inherit;
        text-align: right;
    }
    .main__item:hover .main__item-link.adaptive{
        position: relative;
    }
    .main__item:hover .main__item-box{
        height: 193px;
    }
    .main__item:hover .main__item-price {
        padding: 14px 7px;
    }
    .logo-finance{
        display: none;
    }
   
    
}
@media (max-width: 425px){
    .header .header-adaptive {
        width: 42%;
    }
    .advatages__img-box {
        width: 92%;
    }
    .navigation__menu-button{
        width: 170px;
        height: 55px;
        font-size: 12px;
    }
    .main__items-title {
        font-size: 19px;
        line-height: 25px;
    }
    .main__items-text{
        max-width: 400px;
        width: 100%;
        font-size: 11px;
        line-height: 16px;
    }
    .nav-cards {
        padding: 0 10px;
    }
    .nav-card{
        height: 44px;
    }
    .navigation__menu-button .car-search__icon {
        padding-right: 7px;
        padding-left: 6px;
    }
    .navigation__menu-adaptive .navigation-adaptive__arrows {
        margin-left: 9px;
    }
    .navigation__menu-adaptive .navigation__consultant {
        width: 45px;
        height: 45px;
    }
    .advatages__inner-list {
        padding-left: 16px;
    }
    .jq-selectbox__select {
        height: 40px;
        padding: 8px;
        width: 80vw;
    }
    .main__search-form.adaptive.active form input {
        width: 45%;
    }
    .navigation__menu-button.active {
        height: 82px;
        position: absolute;
        left: 37%;
        top: -5px;
    }
    .navigation__menu-adaptive .navigation__consultant, .navigation__menu-adaptive .navigation__links-border {
        margin-left: 9px;
    }
    .navigation__menu-adaptive{
        height: 55px;
    }
    .product__information-border {
        width: 95%;
    }
    .advatages__inner-title{
        margin-bottom: 0;
    }
    .form-request{
        width: 100%;
        flex-wrap: wrap;
    }
    .form-request__left {
        width: 81%;
        margin: 0 auto;
    }
    .form-request__right{
        width: 90%;
        margin: 0 auto;
    }
    .reviews__item-brand{
        display: block;
    }

    .sup-title{
        line-height: 30px;
    }
    .tab__slider img {
        height: 260px;
    }
    .product__characteristic-inner .tabs{
        width: 280px;
    }
    .finance__inner{
        padding: 15px 0;
    }
    .wrapper{
        padding-left: 17px;
    }
    .js-tab-trigger {
        padding-right: 9px;
        padding-bottom: 15px;
    }
    .navigation__links {
        width: 40px;
        height: 40px;
    }
    .navigation__links-border{
        width: 50px;
        height: 50px;
    }
    .navigation__links-inner {
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 424px){
    .advatages__img-box {
        width: 100%;
    }
    .main__form-selection__btn {
        width: 100%;
    }
    .main__form-instock {
        width: 100%;
        margin-top: 15px;
        align-items: normal;
    }
    .advanced-search__btn {
        margin-top: -4px;
    }
    .main__item-inner__box{
        height: auto;
    }
    .main__item:hover .main__item-link.adaptive{
        position: absolute;
    }
   
   
   
}
@media (max-width: 375px){
    .main__items-text{
        max-width: 300px;
    }
    .main__item-link{
        right: -13px;
        padding-right: 22px;
    }
    .main__item-price {
        font-size: 17px;
    }
    .main__item img {
        width: 93.2vw;
        height: auto;
    }
    .js-tab-trigger {
        padding-right: 0px;
    }
    .finance__inner {
        padding: 33px 0;
    }
}