%geometria-900{
    font-family: 'Geometria-Heavy';
    font-weight: 900;
}
%geometria-500{
    font-family: 'Geometria-Medium';
    font-weight: 500;
}
%geometria-300{
    font-family: 'Geometria';
    font-weight: 300;
}
%geometria{
    font-family: 'Geometria';
    font-weight: normal;
}
%geometria-bold{
    font-family: 'Geometria';
    font-weight: bold;
}
%geometria-800{
    font-family: 'Geometria';
    font-weight: 800;
}

%FuturisC-600{
    font-family: 'FuturisC-Bold';
    font-weight: 600;
}
